<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block nav %}
    <div class="container-lg" style="margin-top: 10px;">
      <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center nav-link" href="/dashboard">Larry</a>
          <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="/cocoa">Cocoa</a>
          <div class="dropdown" style="margin-left: 20px;">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Broker Statements CXC
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/mapping_file_upload_download">Mapping File</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/safex">Safex</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/international">International</a></li>
            </div>

            <div class="dropdown" style="margin-left: 20px;">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Broker Statements Fusion
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/mapping_file_upload_download_fusion">Mapping File</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/safex">Safex</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/international_fusion">International</a></li>
            </div>

            <div class="dropdown" style="margin-left: 20px;">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Fusion
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/mapping_file_upload_download_fusion_master">Mapping File</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/socgen_fusion">SocGen</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/fcstone_fusion">FCStone</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="/marex_fusion">Marex</a></li>
            </div>


            <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="/market_data">Market Data</a>
            <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="/recon">RECON</a>
            
          <a class="flex-sm-fill text-sm-center nav-link" href="/">Logout</a>
      </nav>
  </div>
  {% endblock %}

    <main>
      {% block main %}{% endblock %}
    </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
