{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block main %}
<div class="container-lg" style="margin-top: 50px;">
    
    <h2 style="color:red;">Please Upload a file</h2>
    <a href="/dashboard" target="blank">
        <div class="d-grid gap-2" style="margin-top: 25px;">
           <button class="btn btn-warning" type="button">Go to Larry portal</button>
         </div>
    </a>
</div>

{% endblock %}