{% extends "base_1.html" %}

{% block title %}Login{% endblock %}

{% block nav %} {% endblock %}

{% block main %}
  <img
    src="{{url_for('static', filename='background4.jpg')}}"
    class="img-fluid"
    style="position: absolute; height: 100vh; width: 100%"
    alt="background"
  />

  <div class="container">
    <div
      class="card"
      style="width: 100%; background: transparent; border-color: transparent"
    >
      <div class="card-body">
        <h2 class="display-4 text-center" style="font-weight: bolder; margin-top: 40px;">
          SIGN IN
        </h2>
      </div>
    </div>

    <div
      class="card"
      style="
        width: 100%;
        background: transparent;
        border-color: transparent;
        margin-bottom: 15%;
      "
    >
      <div class="card-body">
        <h3 class="display-6 text-center" style="font-weight: bolder">
          CTRM Automation Portal
        </h3>
      </div>
    </div>

    <div
      class="row container-md"
      style="display: flex; justify-content: space-evenly"
    >
      <div
        class="card"
        style="
          width: 8rem;
          background-color: rgba(255, 255, 255, 0.25);
          backdrop-filter: blur(5px);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.17);
          border: solid transparent;
          border-radius: 10px;
        "
        id="sign-in-manu"
      >
        <img
          src="{{url_for('static', filename='Manu.jpeg')}}"
          class="card-img-top"
          style="border-radius: 50%; padding: 5px"
          alt="Manu"
        />
          <div class="card-body" >
            <p class="card-text text-center">
              <a href="#" class="btn btn-primary">Manu</a>
            </p>
          </div>
      </div>
      <div
        class="card"
        style="
          width: 8rem;
          background-color: rgba(255, 255, 255, 0.25);
          backdrop-filter: blur(5px);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.17);
          border: solid transparent;
          border-radius: 10px;
        "
        id="sign-in-cheryl"
      >
      <img
      src="{{url_for('static', filename='test.png')}}"
      class="card-img-top"
      style="border-radius: 50%; padding: 5px"
      alt="Srijit"
    />
        <div class="card-body" >
          <p class="card-text text-center">
            <a href="#" class="btn btn-primary">Srijit</a>
          </p>
        </div>
      </div>
      <div
        class="card"
        style="
          width: 8rem;
          background-color: rgba(255, 255, 255, 0.25);
          backdrop-filter: blur(5px);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.17);
          border: solid transparent;
          border-radius: 10px;
        "
        id="sign-in-suresh"
      >
      <img
      src="{{url_for('static', filename='lakshana.jpg')}}"
      class="card-img-top"
      style="border-radius: 50%; padding: 5px"
      alt="Lakshana"
    />
        <div class="card-body" >
          <p class="card-text text-center">
            <a href="#" class="btn btn-primary">Lakshana</a>
          </p>
        </div>
      </div>
      <div
        class="card"
        style="
          width: 8rem;
          background-color: rgba(255, 255, 255, 0.25);
          backdrop-filter: blur(5px);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.17);
          border: solid transparent;
          border-radius: 10px;
        "
        id="sign-in-hari"
      >
        <img
          src="{{url_for('static', filename='Hari.jpeg')}}"
          class="card-img-top"
          style="border-radius: 50%; padding: 5px"
          alt="Hari"
        />
        <div class="card-body">
          <p class="card-text text-center">
            <a href="#" class="btn btn-primary">Hari</a>
          </p>
        </div>
      </div>
      <div
        class="card"
        style="
          width: 8rem;
          background-color: rgba(255, 255, 255, 0.25);
          backdrop-filter: blur(5px);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.17);
          border: solid transparent;
          border-radius: 10px;
        "
        id="sign-in-saumya"
      >
      <img
      src="{{url_for('static', filename='saumya.png')}}"
      class="card-img-top"
      style="border-radius: 50%; padding: 5px"
      alt="saumya"
    />
        <div class="card-body" >
          <p class="card-text text-center">
            <a href="#" class="btn btn-primary ">Saumya</a>
          </p>
        </div>
      </div>
      <div
        class="card"
        style="
          width: 8rem;
          background-color: rgba(255, 255, 255, 0.25);
          backdrop-filter: blur(5px);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.17);
          border: solid transparent;
          border-radius: 10px;
        "
        id="sign-in-raksha"
      >
      <img
      src="{{url_for('static', filename='bebin.jpeg')}}"
      class="card-img-top"
      style="border-radius: 50%; padding: 5px"
      alt="Bebin"
    />
        <div class="card-body" >
          <p class="card-text text-center">
            <a href="#" class="btn btn-primary">Bebin</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script>

    const handleSignIn = (parent) => {
      const newForm = document.createElement('form');
      const childInput = document.createElement('input');
      const childButton = document.createElement('button');
      newForm.method = 'post';
      childInput.name = 'password';
      childInput.type = 'password';
      childInput.style = 'width: 98px; margin-bottom: 5px;'
      childButton.type = 'submit';
      childButton.innerHTML = 'Sign In';
      parent.appendChild(newForm);
      newForm.appendChild(childInput);
      newForm.appendChild(childButton);
      console.log(newForm);

    }

    document.getElementById("sign-in-manu").addEventListener('click', () => {
      const parent = document.getElementById('sign-in-manu');
      handleSignIn(parent);
      console.log(parent);
    }, {once: true});

    document.getElementById("sign-in-cheryl").addEventListener('click', () => {
      const parent = document.getElementById('sign-in-cheryl');
      handleSignIn(parent);

    }, {once: true});

    document.getElementById("sign-in-suresh").addEventListener('click', () => {
      const parent = document.getElementById('sign-in-suresh');
      handleSignIn(parent);

    }, {once: true});

    document.getElementById("sign-in-hari").addEventListener('click', () => {
      const parent = document.getElementById('sign-in-hari');
      handleSignIn(parent);
    }, {once: true});

    document.getElementById("sign-in-saumya").addEventListener('click', () => {
      const parent = document.getElementById('sign-in-saumya');
      handleSignIn(parent);
    }, {once: true});

    document.getElementById("sign-in-raksha").addEventListener('click', () => {
      const parent = document.getElementById('sign-in-raksha');
      handleSignIn(parent);
    }, {once: true});



  </script>

{% endblock %}
