{% extends "base.html" %}

{% block title %}Sucess{% endblock %}

{% block main %}
<div>
<center>
<div class="container-lg" style="margin-top: 50px;">

   <h2 style="color: green; font-size: 42px" >Mapping File Updated Successfully</h2>

</div>
</center>
</div>
{% endblock %}
  

  