{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block main%}
<div class="container-lg" style="margin-top: 50px;">
    <h2>Upload Mapping File - Fusion</h2>

    <form action = "/mapping_upload_fusion" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload Brokers Mapping File </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <input type="submit" class="form-control" style="margin-top: 20px"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>


<div class="container-lg" style="margin-top: 50px;">

    <h2>Download Mapping File</h2>
   
    <a href="{{value}}" target="blank">
       <div class="d-grid gap-2" style="margin-top: 25px;">
          <button class="btn btn-success" type="button">Download</button>
        </div>
    </a>
   
 </div>

{% endblock %}
