{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block main%}
<div class="container-lg" style="margin-top: 50px;">
    <h2>Market Data report portal</h2>

    <form action = "/market_data_download" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload Market Data </label>
            <input type="file"  name="file" class="form-control">
            <br>
            <h3>Input Date</h3>
            <input type="text" name="t_day">
            <br>
            <br>
            <input type="submit" class="form-control" value="Download Market Data" style="margin-top: 20px"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>

    
</div>

{% endblock %}