{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block main%}
<div class="container-lg" style="margin-top: 50px;">

    <h2>Download your report</h2>
   
    <a href="{{value}}" target="blank">
       <div class="d-grid gap-2" style="margin-top: 25px;">
          <button class="btn btn-success" type="button">Download</button>
        </div>
    </a>
   
 </div>

{% endblock %}
