{% extends "base.html" %}

{% block title %}Download Newedge{% endblock %}

{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/newedge_dashboard" class="logo d-flex align-items-center">
      <img src="{{url_for('static', filename='img/EIRS_Logo.png')}}" alt="">
      <span class="d-none d-lg-block">CTRM Portal</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->


  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">




      </li><!-- End Notification Nav -->



      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <span class="d-none d-md-block ps-2">Time is <span id="time"></span> <script src="{{url_for('static', filename='js/time.js')}}">   </script> <br> Welcome Aboard Officer</span>
        </a><!-- End Profile Iamge Icon -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
{% endblock %}



{% block sidebar %}


 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Broker Statements CxC</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/newedge_dashboard">
            <i class="bi bi-circle"></i><span>NewEdge</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->


  </ul>

</aside><!-- End Sidebar-->
{% endblock %}


{% block main%}
<div class="container-lg" style="margin-top: 50px;">

  <h2>Download your report</h2>

  <a href="{{value}}" target="blank">
     <div class="d-grid gap-2" style="margin-top: 25px;">
        <button class="btn btn-success" type="button">Download</button>
      </div>
  </a>

</div>

{% endblock %}




