{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block main%}

<div class="container-lg" style="margin-top: 50px;">
    <h2>ABSA report portal</h2>

    <form action = "/absa_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload ABSA report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <h3>Input Date</h3>
            <input type="text" name="date">
            <br>
            <input type="submit" class="form-control btn btn-primary me-2" style="margin-top: 20px" value="Upload File"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>
 

<div class="container-lg" style="margin-top: 50px;">
    <h2>CJS report portal</h2>

    <form action = "/cjs_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload CJS report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <h3>Input Date</h3>
            <input type="text" name="date">
            <br>
            <input type="submit" class="form-control btn btn-primary me-2" style="margin-top: 20px" value="Upload File"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>

<div class="container-lg" style="margin-top: 50px;">
    <h2>Vanguard report portal</h2>

    <form action = "/vanguard_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload Vanguard report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <h3>Input Date</h3>
            <input type="text" name="date">
            <br>
            <input type="submit" class="form-control btn btn-primary me-2" style="margin-top: 20px" value="Upload File"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>


<div class="container-lg" style="margin-top: 50px;">
    <h2>RMB report portal</h2>

    <form action = "/rmb_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload RMB report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control" multiple>
            <h3>Input Date</h3>
            <input type="text" name="date">
            <br>
            <input type="submit" class="form-control btn btn-primary me-2" style="margin-top: 20px" value="Upload File"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>

<div class="container-lg" style="margin-top: 50px;">
    <h2>RMD report portal</h2>

    <form action = "/rmd_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload RMD report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <h3>Input Date</h3>
            <input type="text" name="date">
            <br>
            <input type="submit" class="form-control btn btn-primary me-2" style="margin-top: 20px" value="Upload File"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>

    <form action = "/rmd_fx_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload RMD FX report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <h3>Input Date</h3>
            <input type="text" name="date">
            <br>
            <input type="submit" class="form-control btn btn-primary me-2" style="margin-top: 20px" value="Upload File"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>

</div>

<script>

    let file = '';

    document.getElementById('file_upload').addEventListener('change', event => {handleSelectFile(event)});

    function handleSelectFile(event) {

        file = event.target.files[0];
        console.log(file);

    }

</script>

{% endblock %}
        
        
        

    