{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block main%}

<div class="container-lg" style="margin-top: 50px;">
    <h2>SocGen Futures report portal</h2>

    <form action = "/fusion_socgen_future_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload SocGen Futures report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <br>
            <input type="submit" class="form-control btn btn-primary me-2" style="margin-top: 20px" value="Upload File"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>
 

<div class="container-lg" style="margin-top: 50px;">
    <h2>SocGen Options report portal</h2>

    <form action = "/fusion_socgen_option_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload SocGen Options report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <br>
            <input type="submit" class="form-control btn btn-primary me-2" style="margin-top: 20px" value="Upload File"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>

<script>

    let file = '';

    document.getElementById('file_upload').addEventListener('change', event => {handleSelectFile(event)});

    function handleSelectFile(event) {

        file = event.target.files[0];
        console.log(file);

    }

</script>

{% endblock %}