{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block main%}
<div class="container-lg" style="margin-top: 50px;">
    <h2>Cocoa Positions report portal</h2>

    <form action = "/cocoa_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        
        <div class="mb-3">
            <label for="Uploading report" class="form-label">Upload Futures report </label>
            <input type="file" id='file_upload_futures' name="file_upload_futures" class="form-control">
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>

        <div class="mb-3">
            <label for="Uploading report" class="form-label">Upload Physicals report </label>
            <input type="file" id='file_upload_physicals' name="file_upload_physicals" class="form-control">
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>

        <div class="mb-3">
            <label for="Uploading report" class="form-label">Upload Consolidated Open Forward report </label>
            <input type="file" id='file_upload_consolidated' name="file_upload_consolidated" class="form-control">
            <input type="submit" class="form-control" style="margin-top: 20px"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>

    </form>

</div>

<script>

    let file = '';

    document.getElementById('file_upload').addEventListener('change', event => {handleSelectFile(event)});

    function handleSelectFile(event) {

        file = event.target.files[0];
        console.log(file);

    }

</script>

{% endblock %}
        
        
        

    