{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block main%}


<div class="container-lg" style="margin-top: 50px;">
    <!--<form action = "/recon_dashboard" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
    <div>
        <h3>Date of Reconciliation</h3>
                <input type="text" name="date">
                <input type="submit" value="Recon it" class="form-control" style="margin-top: 20px"/>
        <br>
    </div>
    </form>-->

    <br>
    <br>
    <h2>FC Stone report portal</h2>

    <form action = "/recon_fcstone" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload FC Stone report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <input type="submit" class="form-control" style="margin-top: 20px"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>

<div class="container-lg" style="margin-top: 50px;">
    <h2>Macquaire report portal</h2>

    <form action = "/recon_macquaire_upload" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload Macquaire report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <input type="submit" class="form-control" style="margin-top: 20px"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>

<div class="container-lg" style="margin-top: 50px;">
    <h2>Marex report portal</h2>

    <form action = "/recon_marex" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload Marex report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <input type="submit" class="form-control" style="margin-top: 20px"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>


<div class="container-lg" style="margin-top: 50px;">
    <h2>Newedge report portal</h2>

    <form action = "/recon_newedge" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload Newedge report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <input type="submit" class="form-control" style="margin-top: 20px"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>


<script>

    let file = '';

    document.getElementById('file_upload').addEventListener('change', event => {handleSelectFile(event)});

    function handleSelectFile(event) {

        file = event.target.files[0];
        console.log(file);

    }

</script>

{% endblock %}
        