{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block main%}
<div class="container-lg" style="margin-top: 50px;">
    <h2>Newedge report portal</h2>

    <form action = "/newedge_uploader" method = "POST" enctype = "multipart/form-data" style="margin-top: 25px;">
        <!-- <input type="file" id='file_upload' name="file_upload"/>
        <input type="submit"/> -->
        <div class="mb-3">
            <label for="Uploading larry report" class="form-label">Upload Newedge report </label>
            <input type="file" id='file_upload' name="file_upload" class="form-control">
            <br>
            <h3>Input Date</h3>
            <input type="text" name="newedge_date">
            <br>
            <input type="submit" class="form-control" style="margin-top: 20px"/>
            <div id="emailHelp" class="form-text">Hold your breath for a sec.</div>
        </div>
    </form>
</div>

<script>

    let file = '';

    document.getElementById('file_upload').addEventListener('change', event => {handleSelectFile(event)});

    function handleSelectFile(event) {

        file = event.target.files[0];
        console.log(file);

    }

</script>

{% endblock %}
        
        
        

    